:root {
  color: var(color-black)
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black !important;
  color: white !important;
  margin:0;
  font-family: sans-serif;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.title {
  font-size: 5em;
  font-weight: 600;
  width: 65%;
  color:crimson;
  text-shadow: 1px 4px black;
}

.sub_title {
  font-size: 2em;
  font-weight: 400;
  width: 25%;
  text-shadow: 2px 5px black;
}

.banner {
  display: flex;
  flex-direction: column;
  
}

.banner-bg {
  width: 100%;
  height: 60vh; 
}

.banner::before { /* 배경 그라데이션 효과 */
  position: absolute;
  left:0;
  width: 100%;
  /* height: 100%; */
  height: 60vh; /* 배너 포스터 높이 조절 */
  content: '';
  background: linear-gradient(to top, black, transparent);
}

.banner-info { /* 타이틀과 오버뷰 내용 */
  position: absolute;
  display: flex;
  flex-direction: column;
  /*z-index: 1; /*0은 기본값, 글자를 배너 위로 올림*/
  top: 200px;
  left: 5em;
}

.movies {
  margin: 0 2.6rem;
}

.movie_contents {
  margin: 3rem 0;
}

.card_container {
  position: relative; 
  overflow: hidden;
  transition: all 0.4s;
  max-width: 350px;
  width: 350px;
  height: 200px;
  /* height: 100%;  */
  background-size: cover; 
  /* margin: auto;  */
  cursor: pointer;
}

.card_img { 
 /*  width: 350px;
  height: 200px; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 10;
} 

.card_img:hover {
  position: absolute;
  transform: scale(1.5);
  transition: all .4s; 
  width: 400px; /* 확대된 크기에 맞게 폭 및 높이 조정 */
  height: 100%;
  z-index: 90;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.overlay {
  opacity: 0; /* 투명도 조절 */
  padding: 1rem .7rem;
}

.overlay > .card_title {
  font-size: 1.6rem;
}

.card_img:hover .overlay {
  opacity: 1; /* 마우스 호버 시 노출 */
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}

.card_genre {
  margin-right: .5em;
}

.card_detail ul {
  display: flex;
  list-style: none;
  /* justify-content: flex-start; */
  padding: 0;
}


.card_detail li {
  margin-top: 3.2em;
  margin-right: .4rem;
}

.item_icon { /* voteAvg icon */
  font-size:1.5rem;
  vertical-align: top;
  color: orange;
  margin-right: .3em;
}

.user_icon { 
  font-size:1.1rem;
  color:rgb(79, 149, 206);
  margin-right: .3em;
}

/* Trailer CSS */

.trailer {
  height: 100%;
  margin-top: 10px;
}

.squar_xmark {
  position: absolute;
  top: 0;     /* 상단 */
  left: 0;    /* 왼쪽 */
  margin-left: .6rem;
  margin-top: .4rem;
  font-size: 1.8rem;
}